<a href="https://colab.research.google.com/github/komalshahu/data_-Science/blob/main/data_science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here are your complete, structured learning notes designed to make you job-ready with Pandas for a Data Science role.

-----

# Mastering Pandas for Data Science: The Complete Guide

This guide covers Pandas from the ground up, focusing on the practical skills, real-world data pipelines, and interview-level knowledge required for a Data Science or Data Analyst job.

## 1\. Introduction to Pandas

### What is Pandas? üêº

Pandas is an open-source Python library built on top of NumPy. It is the single most important tool for practical, real-world data manipulation and analysis in Python. Its name is derived from "Panel Data," an econometrics term for multidimensional, structured datasets.

Think of Pandas as "Excel on steroids" inside a Python script.

### Why is it essential for Data Science?

Data Science is all about data. Before you can build a machine learning model or create a visualization, your data is almost always "dirty."

  * **Data Wrangling:** Real-world data is messy. It has missing values, incorrect formats, and needs to be combined from multiple sources. Pandas is the tool for this *wrangling* or *munging*.
  * **EDA (Exploratory Data Analysis):** Pandas is used to load, clean, transform, and then "explore" the data. You use it to summarize statistics, find patterns, and ask questions of your data.
  * **Pipeline Integration:** It's the "glue" that connects your data sources (like SQL databases or CSV files) to your analysis and modeling libraries (like Scikit-learn, Statsmodels, Matplotlib, and Seaborn).

### Key Data Structures

1.  **Series:** A one-dimensional, labeled array (like a single column in a spreadsheet) capable of holding any data type.
2.  **DataFrame:** A two-dimensional, labeled data structure with columns of potentially different types (like a full spreadsheet or a SQL table). It's the primary data structure you'll use 99% of the time.

<!-- end list -->

In [1]:
import pandas as pd
import numpy as np

# A Series (1D)
s = pd.Series([10, 20, 30, np.nan], index=['a', 'b', 'c', 'd'])
print("--- Series ---")
print(s)

--- Series ---
a    10.0
b    20.0
c    30.0
d     NaN
dtype: float64

**Output:**

```
--- Series ---
a    10.0
b    20.0
c    30.0
d     NaN
dtype: float64
```

-----

## 2\. DataFrames: Creation and Inspection

### Creating DataFrames

You can create DataFrames from almost any data source.

In [2]:
# 1. From a Dictionary (Most common for small examples)
data = {
    'Name': ['Komal', 'Alice', 'Bob', 'Charlie'],
    'Age': [20, 25, 30, 22],
    'Department': ['AI/DS', 'Sales', 'Engineering', 'Sales'],
    'Salary': [np.nan, 70000, 85000, 72000]
}
df = pd.DataFrame(data)
print("--- DataFrame from Dict ---")
print(df)

# 2. From a CSV file (Most common in the real world)
# Assume 'employees.csv' exists
# df.to_csv('employees.csv', index=False) # How to create one
df_from_csv = pd.read_csv('employees.csv')

# 3. From an Excel file
# Assume 'employees.xlsx' exists
# df.to_excel('employees.xlsx', sheet_name='Sheet1', index=False)
df_from_excel = pd.read_excel('employees.xlsx', sheet_name='Sheet1')

# 4. From JSON
# Assume 'employees.json' exists
# df.to_json('employees.json', orient='records')
df_from_json = pd.read_json('employees.json', orient='records')

--- DataFrame from Dict ---
      Name  Age   Department   Salary
0    Komal   20        AI/DS      NaN
1    Alice   25        Sales  70000.0
2      Bob   30  Engineering  85000.0
3  Charlie   22        Sales  72000.0

FileNotFoundError: [Errno 2] No such file or directory: 'employees.csv'

**Output (from Dict):**

```
--- DataFrame from Dict ---
      Name  Age   Department   Salary
0    Komal   20        AI/DS      NaN
1    Alice   25        Sales  70000.0
2      Bob   30  Engineering  85000.0
3  Charlie   22        Sales  72000.0
```

### Common Attributes and Methods (Your First EDA)

These are the *first commands* you run after loading any new dataset.

In [ ]:
# Create a sample DataFrame
data = {
    'Name': ['Komal', 'Alice', 'Bob', 'Charlie'],
    'Age': [20, 25, 30, 22],
    'Department': ['AI/DS', 'Sales', 'Engineering', 'Sales'],
    'Salary': [np.nan, 70000, 85000, 72000]
}
df = pd.DataFrame(data)

# 1. Look at the first 5 rows
print("--- df.head() ---")
print(df.head())

# 2. Get the dimensions (rows, columns)
print("\n--- df.shape ---")
print(df.shape) # Output: (4, 4)

# 3. Get a concise summary (non-null counts, data types)
# THIS IS THE MOST IMPORTANT ONE.
print("\n--- df.info() ---")
df.info()

# 4. Get descriptive statistics for numeric columns
print("\n--- df.describe() ---")
print(df.describe())

# 5. Get column names
print("\n--- df.columns ---")
print(df.columns) # Output: Index(['Name', 'Age', 'Department', 'Salary'], dtype='object')

# 6. Get data types
print("\n--- df.dtypes ---")
print(df.dtypes)

**Output (df.info()):**

```
--- df.info() ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype  
---  ------      --------------  -----  
 0   Name        4 non-null      object
 1   Age         4 non-null      int64  
 2   Department  4 non-null      object
 3   Salary      3 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 256.0+ bytes
```

  * **Job-Ready Insight:** `df.info()` immediately tells you two critical things:
    1.  **Missing Data:** `Salary` has "3 non-null" out of 4 entries, meaning one is missing.
    2.  **Data Types:** `Name` and `Department` are `object` (string), which is expected. `Age` is `int64` and `Salary` is `float64` (because of the `NaN`), which is also correct. If 'Age' were an `object`, you'd need to clean it.

-----

## 3\. Indexing, Slicing, and Subsetting

This is how you select specific pieces of your data.

### Selecting Columns

In [ ]:
# Select a single column (returns a Series)
print("--- Selecting 'Name' column (Series) ---")
print(df['Name'])

# Select multiple columns (returns a DataFrame)
print("\n--- Selecting 'Name' and 'Salary' (DataFrame) ---")
print(df[['Name', 'Salary']])

### `.loc[]`: Label-Based Indexing

Used for selecting data by **row and column labels (names)**.
**Syntax:** `df.loc[row_labels, column_labels]`

In [ ]:
# Set 'Name' as the index to make labels meaningful
df_indexed = df.set_index('Name')
print("--- Indexed DataFrame ---")
print(df_indexed)

# Select row 'Alice'
print("\n--- .loc['Alice'] ---")
print(df_indexed.loc['Alice'])

# Select rows 'Alice' and 'Bob', columns 'Age' and 'Salary'
print("\n--- .loc[['Alice', 'Bob'], ['Age', 'Salary']] ---")
print(df_indexed.loc[['Alice', 'Bob'], ['Age', 'Salary']])

**Output (Indexed DataFrame):**

```
--- Indexed DataFrame ---
         Age   Department   Salary
Name                             
Komal     20        AI/DS      NaN
Alice     25        Sales  70000.0
Bob       30  Engineering  85000.0
Charlie   22        Sales  72000.0
```

**Output (.loc[['Alice', 'Bob'], ['Age', 'Salary']]):**

```
--- .loc[['Alice', 'Bob'], ['Age', 'Salary']] ---
       Age   Salary
Name               
Alice   25  70000.0
Bob     30  85000.0
```

### `.iloc[]`: Integer-Position-Based Indexing

Used for selecting data by **row and column integer position (0-indexed)**.
**Syntax:** `df.iloc[row_indices, column_indices]`
*Slicing (`:`) is exclusive of the end, just like Python lists.*

In [ ]:
# Select the first row (index 0)
print("--- .iloc[0] ---")
print(df.iloc[0])

# Select rows 1 and 2 (positions 1 and 2)
print("\n--- .iloc[[1, 2]] ---")
print(df.iloc[[1, 2]])

# Select the first two rows and first two columns
# Rows 0, 1 (2 is exclusive)
# Cols 0, 1 (2 is exclusive)
print("\n--- .iloc[0:2, 0:2] ---")
print(df.iloc[0:2, 0:2])

**Output (.iloc[0:2, 0:2]):**

```
--- .iloc[0:2, 0:2] ---
    Name  Age
0  Komal   20
1  Alice   25
```

### Boolean Indexing (The most powerful)

Used to filter data based on conditions. This is a core part of data analysis.

In [ ]:
# Condition 1: Find all employees older than 23
print("--- Age > 23 ---")
print(df[df['Age'] > 23])

# Condition 2: Find all employees in the 'Sales' department
print("\n--- Department == 'Sales' ---")
print(df[df['Department'] == 'Sales'])

# Condition 3: Find all employees in 'Sales' AND older than 23
# Use & (AND), | (OR), ~ (NOT)
# Each condition MUST be in parentheses ()
print("\n--- 'Sales' AND Age > 23 ---")
print(df[(df['Department'] == 'Sales') & (df['Age'] > 23)])

**Output (Condition 3):**

```
--- 'Sales' AND Age > 23 ---
    Name  Age Department   Salary
1  Alice   25      Sales  70000.0
```

### Adding and Removing Columns/Rows

In [ ]:
# Add a new column
df['Years_of_Exp'] = [1, 3, 8, 2]
print("--- Added 'Years_of_Exp' column ---")
print(df)

# Add a column based on another
df['Salary_After_Tax'] = df['Salary'] * 0.80
print("\n--- Added 'Salary_After_Tax' column ---")
print(df)

# Remove a column
# axis=1 means "column"
# inplace=True modifies the df directly (use with caution)
df_dropped_col = df.drop('Years_of_Exp', axis=1)
print("\n--- Dropped 'Years_of_Exp' column ---")
print(df_dropped_col)

# Remove a row (by index label)
# axis=0 means "row" (it's the default)
df_dropped_row = df.drop(0, axis=0)
print("\n--- Dropped row 0 ---")
print(df_dropped_row)

-----

## 4\. Data Cleaning and Preprocessing

This is where 80% of your time as a data scientist is spent.

In [ ]:
# Let's create a messy DataFrame
data_dirty = {
    'Name': ['Komal S.', 'Alice', 'Bob', 'Charlie', 'Alice', 'Eve '],
    'Age': ['20', 25, 30, '22', 25, '35 '],
    'Department': ['AI/DS', 'Sales', 'Engineering', 'Sales', 'Sales', ' admin'],
    'Salary': [np.nan, 70000, 85000, 72000, 70000, 50000],
    'Hire_Date': ['2024-01-15', '2022-05-20', '2020-03-10', '2023-11-01', '2022-05-20', '2024-02-01']
}
df_clean = pd.DataFrame(data_dirty)
print("--- Original Messy Data ---")
df_clean.info()

**Output (Messy Data):**

```
--- Original Messy Data ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype  
---  ------      --------------  -----  
 0   Name        6 non-null      object
 1   Age         6 non-null      object
 2   Department  6 non-null      object
 3   Salary      5 non-null      float64
 4   Hire_Date   6 non-null      object
dtypes: float64(1), object(4)
memory usage: 368.0+ bytes
```

  * **Problems found:**
    1.  `Salary` has a missing value.
    2.  `Name` has a duplicate ('Alice').
    3.  `Age` is `object` (string) type, not `int`.
    4.  `Hire_Date` is `object`, not `datetime`.
    5.  `Department` and `Name` have whitespace issues ('Eve ', ' admin').

### Handling Missing Data (isnull, fillna, dropna)

In [ ]:
# 1. Check for missing data
print("\n--- Missing Value Counts ---")
print(df_clean.isnull().sum())

# 2. Fill missing data
# We can fill the missing Salary with the mean salary
mean_salary = df_clean['Salary'].mean()
df_clean['Salary'] = df_clean['Salary'].fillna(mean_salary)
print("\n--- Data after fillna() ---")
print(df_clean)

# 3. Drop rows with missing data (if filling isn't appropriate)
# df_clean = df_clean.dropna(subset=['Salary'])

**Output (Missing Value Counts):**

```
--- Missing Value Counts ---
Name          0
Age           0
Department    0
Salary        1
Hire_Date     0
dtype: int64
```

### Removing Duplicates

In [ ]:
# 1. Check for duplicates
print(f"\nTotal duplicates: {df_clean.duplicated().sum()}") # Output: 1

# 2. Drop duplicates
df_clean = df_clean.drop_duplicates(keep='first')
print("\n--- Data after drop_duplicates() ---")
print(df_clean)

### Changing Data Types (astype, to\_numeric, to\_datetime)

In [ ]:
# 1. Fix 'Age' (object to int)
# pd.to_numeric is safer than .astype() because it can handle errors
df_clean['Age'] = pd.to_numeric(df_clean['Age'])
print(f"\nAge dtype: {df_clean['Age'].dtype}") # Output: int64

# 2. Fix 'Hire_Date' (object to datetime)
df_clean['Hire_Date'] = pd.to_datetime(df_clean['Hire_Date'])
print(f"Hire_Date dtype: {df_clean['Hire_Date'].dtype}") # Output: datetime64[ns]

### String Operations (`.str` accessor)

Essential for cleaning `object` columns.

In [ ]:
# 1. Fix 'Department' and 'Name' whitespace
df_clean['Department'] = df_clean['Department'].str.strip() # Remove leading/trailing space
df_clean['Name'] = df_clean['Name'].str.strip()

# 2. Standardize case
df_clean['Department'] = df_clean['Department'].str.lower()
print("\n--- Data after .str.strip() and .str.lower() ---")
print(df_clean['Department'].values)
# Output: ['ai/ds' 'sales' 'engineering' 'sales' 'admin']

# 3. Replace values
df_clean['Name'] = df_clean['Name'].str.replace('Komal S.', 'Komal', regex=False)
print(f"\nName 'Komal S.' fixed: {'Komal' in df_clean['Name'].values}")

### Applying Functions (apply, map, lambda)

  * `map()`: Element-wise transformation on a **Series**, using a dictionary.
  * `apply()`: Apply a function along an axis of a **DataFrame** (or a Series).
  * `lambda`: A small, anonymous function, often used inside `apply`.

<!-- end list -->

In [ ]:
# 1. Use map() to encode categorical data
dept_map = {'ai/ds': 0, 'sales': 1, 'engineering': 2, 'admin': 3}
df_clean['Dept_Code'] = df_clean['Department'].map(dept_map)
print("\n--- Data after map() ---")
print(df_clean[['Department', 'Dept_Code']])

# 2. Use apply() with a lambda to create a new column
# Create an 'Experience_Level' based on Salary
def get_exp_level(salary):
    if salary > 75000:
        return 'Senior'
    elif salary > 60000:
        return 'Mid'
    else:
        return 'Junior'

df_clean['Exp_Level'] = df_clean['Salary'].apply(get_exp_level)

# Same thing using a lambda function (more common)
df_clean['Exp_Level_Lambda'] = df_clean['Salary'].apply(lambda x: 'Senior' if x > 75000 else ('Mid' if x > 60000 else 'Junior'))
print("\n--- Data after apply() ---")
print(df_clean[['Salary', 'Exp_Level', 'Exp_Level_Lambda']])

-----

## 5\. Grouping and Aggregation

This is how you summarize data‚Äîa cornerstone of business intelligence and analysis. The paradigm is **Split-Apply-Combine**.

1.  **Split:** `groupby()` splits the data into groups based on criteria.
2.  **Apply:** An aggregation function (like `sum`, `mean`, `count`) is applied to each group.
3.  **Combine:** The results are combined into a new DataFrame.

<!-- end list -->

In [ ]:
# Use the clean DataFrame
print("--- Cleaned DataFrame for GroupBy ---")
print(df_clean)

# 1. Group by 'Department' and find the mean salary
print("\n--- Mean Salary per Department ---")
dept_salary = df_clean.groupby('Department')['Salary'].mean().sort_values(ascending=False)
print(dept_salary)

# 2. Multi-level grouping
# Group by 'Department' and 'Exp_Level' and count employees
print("\n--- Count per Department and Exp_Level ---")
dept_counts = df_clean.groupby(['Department', 'Exp_Level'])['Name'].count()
print(dept_counts)

**Output (Mean Salary):**

```
--- Mean Salary per Department ---
Department
engineering    85000.0
sales          71000.0
admin          50000.0
ai/ds          69400.0  <- This is the mean_salary we filled earlier
Name: Salary, dtype: float64
```

### `.agg()`: Multiple Aggregations

The most powerful aggregation method.

In [ ]:
# 3. Use .agg() for multiple, custom aggregations
print("\n--- Multiple Aggregations with .agg() ---")
dept_summary = df_clean.groupby('Department').agg(
    Avg_Salary=('Salary', 'mean'),
    Max_Age=('Age', 'max'),
    Num_Employees=('Name', 'count')
).reset_index() # .reset_index() flattens the result back into a clean DataFrame

print(dept_summary)

**Output (.agg()):**

```
--- Multiple Aggregations with .agg() ---
    Department  Avg_Salary  Max_Age  Num_Employees
0        admin     50000.0       35              1
1        ai/ds     69400.0       20              1
2  engineering     85000.0       30              1
3        sales     71000.0       25              2
```

### `.transform()`: Group-level Operations (Interview Favorite)

`transform` performs a group calculation but returns a result with the **same index as the original DataFrame**. This is useful for comparing an individual row to its group's property.

In [ ]:
# 4. Use .transform() to see each employee's salary vs. their department average
print("\n--- .transform() for group-level comparison ---")
df_clean['Dept_Avg_Salary'] = df_clean.groupby('Department')['Salary'].transform('mean')
df_clean['Salary_vs_Dept_Avg'] = df_clean['Salary'] - df_clean['Dept_Avg_Salary']

print(df_clean[['Name', 'Department', 'Salary', 'Dept_Avg_Salary', 'Salary_vs_Dept_Avg']])

**Output (.transform()):**

```
--- .transform() for group-level comparison ---
      Name   Department   Salary  Dept_Avg_Salary  Salary_vs_Dept_Avg
0    Komal        ai/ds  69400.0          69400.0                 0.0
1    Alice        sales  70000.0          71000.0             -1000.0
2      Bob  engineering  85000.0          85000.0                 0.0
3  Charlie        sales  72000.0          71000.0              1000.0
5      Eve        admin  50000.0          50000.0                 0.0
```

### Pivot Tables and Crosstab

  * `pd.pivot_table()`: Like in Excel. Great for summarizing data in a grid.
  * `pd.crosstab()`: Computes a frequency table of two or more factors.

<!-- end list -->

In [ ]:
# 5. Pivot Table
# Index = 'Department', Columns = 'Exp_Level', Values = 'Salary'
print("\n--- Pivot Table (Avg Salary) ---")
pivot = pd.pivot_table(
    df_clean,
    values='Salary',
    index='Department',
    columns='Exp_Level_Lambda',
    aggfunc='mean'
)
print(pivot)

# 6. Crosstab
# How many people from each Dept are in each Exp_Level?
print("\n--- Crosstab (Counts) ---")
cross = pd.crosstab(df_clean['Department'], df_clean['Exp_Level_Lambda'])
print(cross)

-----

## 6\. Merging, Joining, and Concatenation

This is how you combine data from different sources.

  * **`concat()`:** Stacks DataFrames on top of each other (vertical, `axis=0`) or side-by-side (horizontal, `axis=1`).
  * **`merge()`:** SQL-style joins. Combines DataFrames based on a common key/column.
  * **`join()`:** A simpler method that joins DataFrames on their *index*.

### `concat()`: Stacking Data

In [ ]:
df_a = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df_b = pd.DataFrame({'A': ['A2', 'A3'], 'B': ['B2', 'B3']})

# Stack vertically (axis=0 is default)
vertical_concat = pd.concat([df_a, df_b], ignore_index=True)
print("--- Vertical Concat ---")
print(vertical_concat)

### `merge()`: SQL-Style Joins (Most Important)

Let's create two DataFrames: `employees` and `departments`.

In [ ]:
df_emp = pd.DataFrame({
    'employee_id': [101, 102, 103, 104],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'dept_id': [1, 2, 1, 3]
})

df_dept = pd.DataFrame({
    'dept_id': [1, 2, 4],
    'dept_name': ['Sales', 'Engineering', 'Marketing']
})

print("--- Employees ---")
print(df_emp)
print("\n--- Departments ---")
print(df_dept)

# 1. Inner Join (Default)
# Only keeps rows where the key ('dept_id') exists in BOTH tables.
# David (3) and Marketing (4) are dropped.
inner_join = pd.merge(df_emp, df_dept, on='dept_id', how='inner')
print("\n--- Inner Join ---")
print(inner_join)

# 2. Left Join
# Keeps all rows from the 'left' table (df_emp) and matches where it can.
# David (3) is kept, but 'dept_name' is NaN.
left_join = pd.merge(df_emp, df_dept, on='dept_id', how='left')
print("\n--- Left Join ---")
print(left_join)

# 3. Right Join
# Keeps all rows from the 'right' table (df_dept) and matches where it can.
# Marketing (4) is kept, but employee fields are NaN.
right_join = pd.merge(df_emp, df_dept, on='dept_id', how='right')
print("\n--- Right Join ---")
print(right_join)

# 4. Outer Join
# Keeps all rows from BOTH tables.
# David (3) and Marketing (4) are both kept, with NaNs in their non-matching fields.
outer_join = pd.merge(df_emp, df_dept, on='dept_id', how='outer')
print("\n--- Outer Join ---")
print(outer_join)

-----

## 7\. Real-World Data Analysis Example (Mini-Project)

**Goal:** Analyze a "Sales" dataset to find the total revenue per product category.

**Data:** We have two datasets:

1.  `sales.csv`: Contains transaction records.
2.  `products.csv`: Contains product details.

**Pipeline:** **Load -\> Clean -\> Merge -\> Feature Engineer -\> Aggregate -\> Analyze**

In [ ]:
# 1. LOAD: Create sample data
sales_data = {
    'transaction_id': [1, 2, 3, 4, 5, 6],
    'product_id': [10, 20, 10, 30, 20, 40],
    'quantity': [2, 1, 1, 5, 3, 1],
    'sale_date': ['2025-10-01', '2025-10-01', '2025-10-02', '2025-10-02', '2025-10-03', '2025-10-03']
}
df_sales = pd.DataFrame(sales_data)

products_data = {
    'product_id': [10, 20, 30],
    'product_name': ['Laptop', 'Mouse', 'Keyboard'],
    'category': ['Electronics', 'Electronics', 'Electronics'],
    'price': [1200, 40, 100]
}
df_products = pd.DataFrame(products_data)

print("--- Sales Data ---")
print(df_sales)
print("\n--- Products Data ---")
print(df_products)

# 2. CLEAN: Check for issues
# df_sales.info() -> No missing data.
# df_products.info() -> No missing data.
# Notice 'product_id' 40 is in sales but not products. A left join will be important.

# 3. MERGE: Combine sales with product details
# We use a 'left' join to keep all sales, even if the product is unknown.
df_merged = pd.merge(
    df_sales,
    df_products,
    on='product_id',
    how='left'
)
print("\n--- Merged Data ---")
print(df_merged)

# 4. FEATURE ENGINEERING: Create the 'Revenue' column
df_merged['revenue'] = df_merged['quantity'] * df_merged['price']
print("\n--- Merged Data with 'Revenue' ---")
print(df_merged)

# 5. AGGREGATE: Find total revenue per category
# We should fillna for unknown categories
df_merged['category'] = df_merged['category'].fillna('Unknown')

category_revenue = df_merged.groupby('category')['revenue'].sum().reset_index()

# 6. ANALYZE: Sort to find the top category
final_report = category_revenue.sort_values(by='revenue', ascending=False)
print("\n--- FINAL REPORT: Revenue by Category ---")
print(final_report)

**Output (Final Report):**

```
--- FINAL REPORT: Revenue by Category ---
      category  revenue
0  Electronics   2860.0
1      Unknown      NaN  <- Problem!
```

  * **Job-Ready Refinement:** The 'Unknown' category has `NaN` revenue because its price was `NaN`. We must handle this in the cleaning step.
  * **Revised Pipeline (Step 4.5):**

<!-- end list -->

In [ ]:
# Fix: Fill missing prices *before* calculating revenue
df_merged['price'] = df_merged['price'].fillna(0) # Assume 0 price for unknown products
df_merged['revenue'] = df_merged['quantity'] * df_merged['price']
df_merged['category'] = df_merged['category'].fillna('Unknown')

# Re-run aggregation
category_revenue = df_merged.groupby('category')['revenue'].sum().reset_index()
final_report = category_revenue.sort_values(by='revenue', ascending=False)

print("\n--- FINAL REPORT (REVISED) ---")
print(final_report)

**Output (Final Report Revised):**

```
--- FINAL REPORT (REVISED) ---
      category  revenue
0  Electronics   2860.0
1      Unknown      0.0
```

This demonstrates the iterative nature of data cleaning and analysis.

-----

## 8\. Common Interview Questions (Conceptual & Coding)

### Conceptual Questions

1.  **What is the difference between `.loc[]` and `.iloc[]`?**

      * **`.loc[]`** is label-based. It selects data based on index labels and column names. Slicing (`df.loc['a':'c']`) is *inclusive* of the end.
      * **`.iloc[]`** is integer-based. It selects data based on integer positions (0-indexed). Slicing (`df.iloc[0:3]`) is *exclusive* of the end, just like Python lists.

2.  **Explain `merge()`, `join()`, and `concat()`.**

      * **`concat()`** is for stacking‚Äîgluing DataFrames together vertically (`axis=0`) or horizontally (`axis=1`).
      * **`merge()`** is the primary, most flexible method for SQL-style joins (inner, left, right, outer) based on one or more common columns (keys).
      * **`join()`** is a simpler method that merges DataFrames based on their *index labels* rather than columns.

3.  **What is the difference between `apply()`, `map()`, and `transform()`?**

      * **`map()`** is a Series method for element-wise substitution. It's best used with a dictionary to change values in a single column (e.g., `df['col'].map({'Yes': 1, 'No': 0})`).
      * **`apply()`** is more flexible. It can be used on a Series (like `map`) or on a DataFrame to apply a function to each row (`axis=1`) or column (`axis=0`).
      * **`transform()`** is a GroupBy method. It performs a group-level calculation (like `mean`) but then *broadcasts* the result back to every row in the original group, maintaining the original DataFrame's shape.

4.  **How do you handle missing data?**

      * **Identify:** First, use `df.isnull().sum()` to find which columns have missing values.
      * **Drop:** If the missing data is small and random, you can drop the rows (`df.dropna()`) or columns (`df.drop(col, axis=1)`).
      * **Impute:** This is usually better. You can fill the missing values using `df.fillna()` with a static value (like 0), or a calculated value (like the column's mean or median: `df['col'].fillna(df['col'].mean())`).

### Coding Questions

In [ ]:
# Setup for coding questions
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Frank'],
    'Department': ['Sales', 'Engineering', 'Sales', 'Engineering', 'HR', 'HR'],
    'Salary': [70000, 85000, 72000, 90000, 60000, 58000],
    'Age': [25, 30, 22, 35, 28, 40]
}
df_interview = pd.DataFrame(data)

**Q1: Select all employees in 'Engineering' with a salary over 80,000.**

In [ ]:
answer1 = df_interview[
    (df_interview['Department'] == 'Engineering') &
    (df_interview['Salary'] > 80000)
]
print(answer1)

**Q2: Find the average salary *and* max age for each department.**

In [ ]:
answer2 = df_interview.groupby('Department').agg(
    Avg_Salary=('Salary', 'mean'),
    Max_Age=('Age', 'max')
).reset_index()
print(answer2)

**Q3: Create a new column 'Age\_Group' with categories '20-29', '30-39', '40+'.**

In [ ]:
# Use pd.cut(), the professional way
bins = [19, 29, 39, np.inf]
labels = ['20-29', '30-39', '40+']
df_interview['Age_Group'] = pd.cut(df_interview['Age'], bins=bins, labels=labels, right=True)
print(df_interview[['Name', 'Age', 'Age_Group']])

**Q4 (Advanced): Find the top 2 highest-paid employees in *each* department.**

In [ ]:
answer4 = df_interview.groupby('Department', group_keys=False) \
                      .apply(lambda x: x.nlargest(2, 'Salary')) \
                      .reset_index(drop=True)
print(answer4)

* **Explanation:**
    1.  `groupby('Department')` splits the data.
    2.  `.apply(lambda x: ...)` applies a function to *each* department's mini-DataFrame (`x`).
    3.  `x.nlargest(2, 'Salary')` finds the 2 rows with the largest 'Salary' *within that group*.
    4.  `group_keys=False` prevents `groupby` from adding an extra multi-index.

-----

## 9\. Pandas Revision Cheat Sheet (Job-Ready Focus)

| Task | Function / Syntax | Example |
| :--- | :--- | :--- |
| **Reading Data** | `pd.read_csv()` | `df = pd.read_csv('file.csv')` |
| | `pd.read_excel()` | `df = pd.read_excel('file.xlsx')` |
| **Inspecting Data** | `df.info()` | `df.info()` (Check NaNs, Dtypes) |
| | `df.describe()` | `df.describe()` (Stats for numeric cols) |
| | `df.head()` | `df.head(10)` (See first 10 rows) |
| | `df.shape` | `print(df.shape)` (Rows, Cols) |
| **Selecting Data** | `df['col']` | `df['Salary']` (Single column) |
| | `df[['col1', 'col2']]` | `df[['Name', 'Age']]` (Multiple columns) |
| | `df.loc[]` | `df.loc[0:5, ['Name', 'Age']]` (Label-based) |
| | `df.iloc[]` | `df.iloc[0:5, [0, 1]]` (Integer-based) |
| | Boolean Indexing | `df[df['Age'] > 25]` |
| **Data Cleaning** | `df.isnull().sum()` | `df.isnull().sum()` (Find all NaNs) |
| | `df.fillna()` | `df['col'].fillna(df['col'].mean())` |
| | `df.dropna()` | `df.dropna(subset=['col'])` |
| | `df.drop_duplicates()`| `df.drop_duplicates(subset=['id'])` |
| | `df.rename()` | `df.rename(columns={'old':'new'})` |
| | `df.astype()` | `df['col'].astype(int)` |
| | `pd.to_numeric()` | `pd.to_numeric(df['col'], errors='coerce')` |
| | `pd.to_datetime()` | `pd.to_datetime(df['col'])` |
| **String Ops** | `.str.strip()` | `df['col'].str.strip()` (Remove whitespace) |
| | `.str.lower()` | `df['col'].str.lower()` (To lowercase) |
| | `.str.replace()` | `df['col'].str.replace('$', '')` |
| | `.str.contains()` | `df[df['col'].str.contains('http')]` |
| **Functions** | `df.apply()` | `df.apply(my_func, axis=1)` (Row-wise) |
| | `df['col'].map()` | `df['col'].map({'Yes':1, 'No':0})` |
| **Grouping** | `df.groupby()` | `df.groupby('Dept')['Salary'].mean()` |
| | `.agg()` | `df.groupby('Dept').agg(Avg=('Sal','mean'))` |
| | `.transform()` | `df['Dept_Avg'] = df.groupby('Dept')['Sal'].transform('mean')` |
| **Combining** | `pd.concat()` | `pd.concat([df1, df2], axis=0)` (Stack rows) |
| | `pd.merge()` | `pd.merge(df1, df2, on='id', how='left')` |
| **Reshaping** | `pd.pivot_table()` | `pd.pivot_table(df, values='A', index='B', cols='C')` |
| | `df.sort_values()` | `df.sort_values(by='col', ascending=False)` |